/**/
/* Main Styling */
/**/

body {
  height: 100vh;
}

.container {
	height: 50%;
  width: 100%;
  
}

/**/
/*Page 1*/
/**/

.navbar {
  position: fixed;
  padding: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  max-height: 40px;
  z-index: 10;
}

.navbar ul {
  float: right;
}

.navbar ul li {
  display: inline-block;
  float: left;
  padding-right: 20px;
}

.navbar ul li a {
  font-size: 16px;
  float: left;
  padding: 15px 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navbar a:hover {
  color: rgba(255, 215, 0, 1.0);
  /*CSS transition Smoothing*/
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/*Background Change*/

#page1 {
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 0, 0.40)
    ), url("../images/Backgrounds/bldng1.jpg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.introDiv {
  width: 550px;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-top: 150px;
  margin-left: 15px;
}

.items {
  display: block;
}

#name {
  font-size: 4em;
  text-align: left;
  color: white;
}

#jobTitle {
  font-size: 4em;
  color: rgba(84, 110, 122, 1.0);
}

#page2 {
	background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 0, 0.40)
    ), url("../images/Backgrounds/bldng2.jpg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.pageHeader {
  width: 550px;
  padding-left: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-left: 15px;
}

/*bootstrap images*/

.col-md-3 {
  padding-top: 15px;
  max-height: 260px;
}

.carousel-inner > .item > img {
  border-radius: 11px;
  padding: 0;
  margin: 0;
}

#carousel-example-generic {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#work {
  margin-top: 5%;
  visibility: hidden;
}

#work h2 {
  padding: 4.2% 0 0.5% 0.8%;
  margin-left: 10px;
  text-align: left;
  color: white;
  position: absolute;
  top: 0;
  width: 80%;
}

#work h4 {
  padding: 0.2% 0 0.5% 0.8%;
  margin-left: 10px;
  text-align: right;
  color: white;
  position: absolute;
  top: 80%;
  width: 75%;
}

#page3 {
  height: 100vh;
	background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 255, 0.30)
    ), url("../images/Backgrounds/lndscp1.jpg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.col-md-4 {
  padding-top: 1%;
}

#skill1 {
  background-color: rgba(140, 130, 130, 0.4);
}

#skill1 img {
  margin-left: 30px;
  height: 15%;
  width: 15%;
}

#skill2 {
  background-color: rgba(0, 0, 0, 0.40);
}

#skill2 img {
  margin-left: 40px;
  width: 52%;
}

#skill3 {
  background-color: rgba(100, 0, 0, 0.6);    
}

#skill3 img {
  padding-top: 1%;
  margin-left: 30px;
/*  width: 14.2%;*/
}

#gitImg {
  width: 14.2%;
}

#GithubImg {
  width: 30%;
}

#skill4 {
  background-color: rgba(0, 128, 0, 0.2);    
}

#skill4 img {
  margin-left: 30px;
  width: 13.5%;
}

#skill5 {
  background-color: rgba(0, 0, 20, 0.2);    
}

#skill5 img {
  margin-left: 40px;
  width: 16.5%;
}

#skill6 {
  background-color: rgba(0, 128, 128, 0.1);    
}

#skill6 img {
  margin-left: 40px;
  width: 16.2%;
}

#skill7 {
  background-color: rgba(255, 0, 255, 0.4);    
}

#skill7 img {
  margin-left: 30px;
  width: 13.5%;
}

#skill8 {
  background-color: rgba(0, 255, 255, 0.3);    
}

#skill8 img {
  margin-left: 40px;
  width: 16.5%;
}

#skill9 {
  background-color: rgba(255, 165, 0, 0.3);    
}

#skill9 img {
  margin-left: 40px;
  width: 16.2%;
}

#page4 {
  height: 50vh;
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(255, 165, 0, 0.30)
    ), url("../images/Backgrounds/wndw1.jpg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#splitter1 {
  margin-top: -10px;
  height: 50%;
}

.button {
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 10px 60px 10px;
  width: 200px;
  height: 60px;
  text-align: center;
  color: rgba(41, 121, 255, 1.0);
  background: rgba(100, 150, 200, 0.7);
  border: solid 5px #6496c8;
  -webkit-font-smoothing: antialiased;
}

.button a {
  display: block;
  color: rgba(0, 121, 255, 1.0);
  font-size: 2.4em;
  font-weight: 500;
  text-decoration: none;
}

@-webkit-keyframes bluePulse {
  from {color: rgba(144, 202, 249, 0.4); text-shadow: 0 0 9px #333; }
  50% { color: rgba(144, 202, 249, 0.6); text-shadow: 0 0 18px rgba(144, 202, 249, 0.8); }
  to { color: rgba(144, 202, 249, 0.4); text-shadow: 0 0 9px #333; }
}

.button:hover {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  /*CSS transition Smoothing*/
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-color: #90CAF9;
  color: #90CAF9;
}

.button.active {
  border-color: #27496d;
  color: #27496d;
}

#splitter2 {
  margin-top: -10px;
  /*height: 50%;*/
  background-color: rgba(123, 123, 240, 0.1);
    )
}

#contactLinks {
  width: 50%;
}

#page5 {
  height: 50vh;
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(140, 130, 130, 0.8)
    ), url("../images/Backgrounds/proKitty.jpg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(140, 130, 130, 0.8);
}

/**/
/*typography*/
/**/

h1 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 2em; /* equates to 4em */
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: white;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
}

h3 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  color: rgba(211, 211, 211, 1.0);

}

ul, li, p, label, td {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(211, 211, 211, 1.0);

}

footer {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
}