/**/
/* Main Styling */
/**/

.container {
	height: 50vh;
  width: 100%;
}

/**/
/*Page 1*/
/**/





.navbar {
  position: fixed;
  padding: 0.2% 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
/*  min-height: 25px;*/
  z-index: 10;
}

.navbar ul {
  float: right;
}

.navbar ul li {
  display: inline-block;
  float: left;
  padding-right: 20px;
}

.navbar ul li a {
  font-size: 16px;
  float: left;
  padding: 20px 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navbar a:hover {
  color: rgba(255, 215, 0, 1.0);
  /*CSS transition Smoothing*/
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/*Background Change*/

#page1 {
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 0, 0.40)
    ), url("../images/Backgrounds/bldng1.jpeg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.introDiv {
  width: 550px;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-top: 150px;
  margin-left: 15px;
}

.items {
  display: block;
}

#name {
  text-align: left;
  color: white;
}

#jobTitle {
  color: rgba(84, 110, 122, 1.0);
}

#page2 {
	background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 0, 0.40)
    ), url("../images/Backgrounds/bldng2.jpeg") repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.workHeader {
  width: 550px;
  padding-left: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-left: 30px;
}

/*#projects h2 {
  margin-right: 5%;
}*/

/*bootstrap images*/

.col-md-4 {
  padding-top: 15px;
  max-height: 260px;
}

.carousel-inner > .item > img {
  border-radius: 11px;
  padding: 0;
  margin: 0;
}

#carousel-example-generic {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#work h2 {
  padding: 0.2% 0 0.5% 0.8%;
  margin-left: 10px;
  text-align: left;
  color: white;
  position: absolute;
  top: 0;
  width: 80%;
}

#work h4 {
  padding: 0.2% 0 0.5% 0.8%;
  margin-left: 10px;
  text-align: right;
  color: white;
  position: absolute;
  top: 180px;
  width: 80%;
}

#page3 {
  height: 50vh;
	background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(0, 0, 255, 0.30)
    ), url("../images/Backgrounds/lndscp1.jpeg") repeat center center fixed;
  background-size: 100% 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.skillsHeader {
  width: 550px;
  padding-left: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-left: 15px;
}

#skill1 {
  background-color: rgba(140, 130, 130, 0.8);
}

#skill2 {
  background-color: rgba(0, 0, 0, 0.40);
}

#skill3 {
  background-color: rgba(100, 0, 0, 0.6);
}

#page4 {
  height: 50vh;
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(255, 165, 0, 0.30)
    ), url("../images/Backgrounds/wndw1.jpg") repeat center center fixed;
  background-size: 100% 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.contactHeader {
  width: 550px;
  padding-left: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-left: 15px;
}

#page5 {
  height: 50vh;
  background: linear-gradient(
    210deg,
    rgba(105, 105, 105, 0.66), 
    rgba(140, 130, 130, 0.8)
    ), url("../images/Backgrounds/proKitty.jpeg") repeat center center fixed;
  background-size: 100% 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(140, 130, 130, 0.8);
}

.expHeader {
  width: 550px;
  padding-left: 0.5%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-left: 15px;
}


/**/
/*typography*/
/**/

h1 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 380%; /* equates to 4em */
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 240%;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
  /*margin-top: 10px;
  margin-bottom: 10px;*/
}

h3 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1.5em;

}

ul, li, p, label, td {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(211, 211, 211, 1.0);

}

footer {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
}