/**/
/* Main Styling */
/**/

.container {
	height: 50vh;
  width: 100%;
}

/**/
/*Individual Pages*/
/**/

/**/
/*Page 1*/
/**/

/*Background Change*/

@-webkit-keyframes blackFade {  
  0% { background-color: rgba(0, 0, 0, 0.9);  }
  100% { background-color: rgba(0, 0, 0, 0.40); }
}

.navbar {
  position: fixed;
  margin-bottom: 10px;
  background-color: black;
  width: 100%;
}

#page1 {
    background-color: rgba(0, 0, 0, 0.40);
    -webkit-animation-name: blackFade;  
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 3s; 
}

.introDiv {
  width: 55%;
  padding: 0.2% 0 0.5% 0.8%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-top: 10vh;
}

.quote {
  width: 35%;
  padding: 0.2% 0 0.5% 0.8%;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  margin-top: 25%;
  margin-left: 60%;
}

.items {
  display: block;
}

#name {
  text-align: left;
}

#page2 {
	background-color: rgba(0, 0, 0, 0.50);
}

#skillRow {
 display: flex;
 height: 100%;
}

#page3 {
  height: 100vh;
	background-color: rgba(112, 128, 128, 0.7);
}

#skill1 {
  background-color: rgba(140, 130, 130, 0.8);
}

#skill2 {
  background-color: rgba(0, 0, 0, 0.40);
}

#skill3 {
  background-color: rgba(100, 0, 0, 0.6);
}

#page4 {
  background-color: rgba(118, 128, 128, 0.8);
}

#page5 {
  background-color: rgba(140, 130, 130, 0.8);
}

/**/
/*typography*/
/**/

h1 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 380%; /* equates to 4em */
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
}

h2 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 240%;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
}

h3 {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(84, 110, 122, 1.0);
}

ul, li, p, label, td {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
  color: rgba(211, 211, 211, 1.0);

}

footer {
  font-family: 'Roboto', 'Noto Sans', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  /*makes fonts look crispy*/
  -webkit-font-smoothing: antialiased;
}